/* Tablet and moblie */
@media  (max-width:1023px) {
    
}

/* Tablet */
@media (min-width:740px) and (max-width:1023px){

    .header__navbar-list{
        position: absolute;
        top: 100px;
        text-align: center;
    }
}
/* moblie */
@media (max-width:739px){
    
}